<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br/>
    
    <form method="POST" action="">
        {% csrf_token %}
        <input id="room-name-input" type="text" name="room-name" size="100"/><br/>
        <input id="room-name-submit" type="submit" value="Enter"/>
    </form>

    <div class="container">
        <div class="row">
            <ul>
                {% if request.user.is_authenticated%}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif%}
            </ul>
        </div>
        
    </div>


</body>
</html>